<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reed-Muller algorithm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.0.0-alpha/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/../css/style.css}"
          href="../css/style.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <div class="navbar-brand" href="#">Rydo-Miulerio (Reed-Muller) kodas RM(1,m)</div>
    </div>
    <div id="navbar" class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Teksto apdorojimas</a></li>
            <li><a href="/image">Paveiksliuko apdorojimas</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <p>Rezultatai</p>
        <div class="col-md-4 col-lg-4">
            <h1>Originalus paveikslelis</h1>
            <img class="img-responsive" th:src="${filename}" alt="">
        </div>
        <div class="col-md-4 col-lg-4">
            <h1>Užkoduotas paveikslelis</h1>
            <img class="img-responsive" th:src="${processedFilename}" alt="">
        </div>
        <div class="col-md-4 col-lg-4">
            <h1>Neužkoduotas paveikslelis</h1>
            <img class="img-responsive" th:src="${withoutEncodingFilename}" alt="">
        </div>
        <p>M yra: <span th:text="${m}"></span></p>
        <p>P yra: <span th:text="${p}"></span></p>
    </div>
</div>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</body>
</html>
